# generic don't save stuff
*.wav
test.scd
*.aif
*.aiff
*.zip
._*
.DS_Store

# don't save things in /bench for now
/bench/*

# don't save things in the documentation
/documentation/*

# don't save any virtualenv stuff
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
*.whl

# don't save any images (for the Pi)
*.img
